html, body {
    height: 100%;
}


.form-readonly {
    all: unset;
}

.w-90 {
    width: 95%;
}

.text-right {
    text-align: right;
}

.autocomplete {
    position: absolute;
    padding: 0.5rem 0rem;
    border: solid 1px lightgrey;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.07);


}

.autocomplete * {
    padding: 0.1rem 2rem 0.1rem 1rem;
    &:hover {
        background-color: #0b5ed7;
        color: white;
    }
}

th.sorted-asc::after {
    content: " ▲";
}
th.sorted-desc::after {
    content: " ▼";
}

.sidebar {
    background-color: #0b5ed7 !important;
}

.nav-header {
    background-color: #9CAAB9;
    cursor: pointer;
}

.nav-title {
    color: #ffe7ab;
    font-weight: bold;
    font-size: 19px;
}

.nav-list {

}

li {
    color: black;
}

.nav-list-body li a{
    color: #3988ff;

    &:hover {
        text-decoration: underline;
    }
}


.nav-list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 -1px 0px rgb(166, 89, 0) !important;
    color: white !important;
    gap: 0.5rem;
    font-size: 20px;
    background: linear-gradient(#ffc85e, #da8404);
}

.nav-list-header span {
    font-weight: bold;
}

.nav-list-header i {
    color: white !important;
}

#layout-menu {

    /*background-color: #e8e8e8 !important;*/
}

.depth {
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.55), 0px 3px 0px rgba(255, 255, 255, 0.71);
}

.login {
    background: linear-gradient(#f6f6f6, #cbcbcb);
    border: solid 1px #818181;
    /*box-shadow: 0 -20px 0 white !important;*/
    border-radius: 0.5rem!important;
}

.btn-simple {
    border: solid 1px rgba(140, 140, 140, 0.57) !important;
    box-shadow: 0px -2px 0px rgba(79, 79, 79, 0.65), 0px 2px 0px #f8f8f8;
    background: linear-gradient(#689bfd, #004ace);
    text-shadow: 0px -1px 0px #03039f;
    color: white !important;
    border-radius: 20rem !important;
    cursor: pointer;
    padding: 0.5rem 1rem;

}

.navbar {
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border-bottom: solid 1px #969696 !important;
    box-shadow: 0px 1px 5px rgba(143, 143, 143, 0.32);

}