html, body {
    height: 100%;
    font-family: Inter, sans-serif !important;
}


.form-readonly {
    all: unset;
}

.w-90 {
    width: 95%;
}

.text-right {
    padding-right: 0.5rem !important;
    text-align: right;
    text-wrap: nowrap;
}

.autocomplete {
    position: absolute;
    padding: 0.5rem 0rem;
    border: solid 1px lightgrey;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.07);


}

.autocomplete * {
    padding: 0.1rem 2rem 0.1rem 1rem;
    &:hover {
        background-color: #0b5ed7;
        color: white;
    }
}

th.sorted-asc::after {
    content: " ▲";
}
th.sorted-desc::after {
    content: " ▼";
}

.sidebar {
    background-color: #0b5ed7 !important;
}

.nav-header {
    /*background-color: #9CAAB9;*/
    background: linear-gradient(#c1cdda, #3c4e62);
    cursor: pointer;
}

.nav-title {
    /*color: #ffe7ab;*/
    color: rgb(246, 246, 248) !important;
    text-shadow: 0px -1.5px 0px #1d2849, 0px 1px 0px #dfe5ee;
    font-weight: bold;
    font-size: 19px;
}

.nav-list {

}

li {
    color: black;
}

.nav-list-body li a{
    color: #3988ff;

    &:hover {
        text-decoration: underline;
    }
}


.nav-list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 -1px 0px rgb(166, 89, 0) !important;
    color: white !important;
    gap: 0.5rem;
    font-size: 20px;
    background: linear-gradient(#fdcc71, #ce7d05);
    /*background: linear-gradient(to bottom, #08a0ec, #0044cc);*/
    /*box-shadow: 0px 2px 5px rgba(61, 61, 61, 0.56);*/
    /*margin-bottom: 0.2rem;*/
    border-bottom: solid 1px #8c5b02;
    border-top: solid 1px #9f660a;

}

.nav-list-header span {
    font-weight: bold;
}

.nav-list-header i {
    color: white !important;
}

.nav-list-body {
    /*box-shadow:  inset 0px 2px 8px rgba(0, 0, 0, 0.26); */
    padding: 0.5rem 1.5rem;
    margin: 0;
}

#layout-menu {
    /*background-color: rgba(255, 255, 255, 0.04) !important;*/
    border-right: solid 1px #b0b0b0;
}

.depth {
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.55), 0px 3px 0px rgba(255, 255, 255, 0.71);
}

.login {
    background: linear-gradient(#f6f6f6, #cbcbcb);
    border: solid 1px #818181;
    /*box-shadow: 0 -20px 0 white !important;*/
    border-radius: 0.5rem!important;
}


.card-style-1 {
    background: linear-gradient(#ffffff, #e3e3e3) !important;
    border: solid 1px #b9b9b9 !important;

    .card-body {
        input, textarea, select {
            border: solid 1px rgba(0, 0, 0, 0.14) !important;

        }

        /*border: solid 1px #b9b9b9 !important;*/

    }

    .card-footer {
        margin-top: 1rem;
        border-top: solid 1px #b9b9b9 !important;

         button {
             box-shadow: 0px -1px 0px rgba(49, 49, 49, 0.44), 0px 2px 0px rgba(255, 255, 255, 0.71);

         }
    }
}

.btn-simple {
    border: solid 1px rgba(140, 140, 140, 0.57) !important;
    box-shadow: 0px -2px 0px rgba(79, 79, 79, 0.65), 0px 2px 0px #f8f8f8;
    background: linear-gradient(#689bfd, #004ace);
    text-shadow: 0px -1px 0px #03039f;
    color: white !important;
    border-radius: 20rem !important;
    cursor: pointer;
    padding: 0.5rem 1rem;

}

.navbar {
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border-bottom: solid 1px #969696 !important;
    box-shadow: 0px 1px 5px rgba(143, 143, 143, 0.32);

}

li.title {
    /*margin-top: 0.4rem;*/
    margin-left: -1rem !important;
    /*text-decoration: underline;*/
    list-style: none;
    color: #0558d2;

    font-weight: bold;
}

.pagination {
    display: flex ;
    align-items: center;
}

.page-item {
    height: 40px;
    border: solid 1px gray;
}

.toggle-sidebar {
   margin-right: 2rem !important;
    cursor: pointer;
}

.toolbar-icon {
    font-size: 24px !important;
    padding: 0.5rem;
    border-radius: 0.5rem !important; ;
    border: solid 1px #9b9b9b;
    background: linear-gradient(#ffffff, #dadada);
    cursor: pointer;
    transition: 5s !important;

    &:hover {
        background: linear-gradient(#d5d5d5, #f1f1f1);
    }
    /*box-shadow:*/
    /*         0px 1px 0px rgba(117, 117, 117, 0.99), !* Outer shadow *!*/
    /*        inset 0px 1px 0px rgba(59, 59, 59, 0.83); !* Inner shadow *!*/
    /*box-shadow: 0px  1px 3px rgba(0, 0, 0, 0.18);*/
}

/*.operation-budget:nth-child(odd) {*/
/*    background: rgb(255, 181, 181) !important;*/
/*}*/

/*.operation-budget:nth-child(even){*/
/*    background: rgb(245, 146, 146) !important;*/
/*}*/

.lien {
    color: blue;
}